
$hoverColor: #9acd32;

$borderWidth: 10px;
$padding: 5px;



.container {
	
	position: relative;
	
	
	
	> .current {
		
		box-sizing: border-box;
		
		width: 100%;
		padding: $padding;
		
		border-width: $borderWidth;
		border-style: solid;
		
	}
	
	
	> .current.collapsed:after {
		
		content: "\25BC";
		
		position: absolute;
		top: $borderWidth + $padding;
		right: $borderWidth + $padding;
	}
	
	
	> .current.expanded:after {
		
		content: "\25B2";
		
		position: absolute;
		top: $borderWidth + $padding;
		right: $borderWidth + $padding;
	}
	
	
	> .ddlist {
		
		display: none;
		z-index: 100;
		
		position: absolute;
		
		width: 100%;
		margin: 0;
		padding: 0;
		
		
		> .dditem {
			
			list-style-type: none;
			
			box-sizing: border-box;
			
			width: 100%;
			padding: $padding;
			
			
			border-width: $borderWidth;
			border-style: solid;
			
			border-top: none;
		}
		
		
		> .dditem:HOVER {
			background-color: $hoverColor;
		}
		
	}
}


.-status-selected {
	background-color: $hoverColor;
}

.-clear-both {
	clear: both;
}


.-float-side1 {
	float: left;
	margin-right: $padding / 2;
}
	
.-float-side2 {
	float: left;
	margin-left: $padding / 2;
}
