
.container {
	
	
	> .current {
		
		position: relative;
		
		box-sizing: border-box;
		
		width: 100%;
		
		border-style: solid;
		
	}
	
	
	
	> .ddlist {
		
		display: none;
		z-index: 100;
		
		
		width: 100%;
		margin: 0;
		padding: 0;
		
		
		> .dditem {
			
			list-style-type: none;
			
			box-sizing: border-box;
			
			width: 100%;
			
			border-style: solid;
			
			border-top: none;
			
		}
		
	}
}


.-clear-both {
	clear: both;
}
